@import "vars";
@import "fonts";
@import "libs";
@font-face {
	font-family: 'Lemon Tuesday';
	src: url('../fonts/lemon_tuesday.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/lemon_tuesday.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/lemon_tuesday.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/lemon_tuesday.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/lemon_tuesday.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/lemon_tuesday.svg#lemon_tuesday') format('svg'); /* Chrome < 4, Legacy iOS */
}
::placeholder {
	color: #666;
}
a {
	text-decoration: none;
}
.invisible{
	display: none;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
.header{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.user_menu{
	display: flex;
	justify-content: space-between;
}
.btn_burger{
	width: 20px;
	height: 15px;
    margin: 20px 15px;
    padding: 0;
	background-image: url(../img/burger.png);
	background-color: white;
	border:0px;
}
.logo{
	margin: 5px;
}
.user_menu{
	margin:18px 0px;
}
.user{
	margin-right: 15px;
}
.cart{
	margin-left: 15px;
}
.promo_slider_element1{
	height: 240px;
	min-width: 320px;
	background-image: url(../img/background_sushi.png);
}
.promo{
	display: flex;
}
.products {
	text-align: center;
}
.products p{
	font-family: 'OpenSans';
}
h2{
font-family: 'Lemon Tuesday';
}
.products figure{
	width: 228px;
	height: 430px;
	display: inline-block;
	border-radius: 10px;
}
.products button{
    background-color: #fd4f10;
    border: none;
		border-radius: 5px;
		width: 200px;
}
